@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

.combobox {
    width: 100%;
    
}

.combobox button{
    width: 100%;
    height: 100%;
}


.combobox input{
    width: 100%;
    height: 100%;
}

.combobox ul{
    text-align: left;
    border: rgb(209 213 219) solid 1px;
    width: 100%;
    position: relative;
    height: 0;
    padding-left: 5px;
    margin-bottom: 0;
}

.combobox li:hover{
    width: 100%;
    background-color: orange;
    color: white;
    width: 15vw;
}

.social-connexion-title{
    grid-template-columns: 1fr auto 1fr;
}

.social-connexion-title::before{
    display: block;
    content: " ";
    width: 90%;
    border-top: 1px solid lightgray;
}

.social-connexion-title::after{
    display: block;
    content: " ";
    width: 90%; 
    margin-left: 10%;
    border-top: 1px solid lightgray;
}

.pink-orange-gradient {
    background: linear-gradient(118deg,
          hsl(324, 100%, 45.1%) 0%,
          hsl(324.59, 98.91%, 45.35%) 9.2%,
          hsl(326.3, 95.9%, 46.04%) 17.3%,
          hsl(329.04, 91.43%, 47.12%) 24.5%,
          hsl(332.79, 85.96%, 48.5%) 31%,
          hsl(337.52, 80.34%, 50.13%) 36.8%,
          hsl(343.22, 79.6%, 51.93%) 42.3%,
          hsl(349.86, 78.76%, 53.83%) 47.4%,
          hsl(357.38, 77.83%, 55.77%) 52.6%,
          hsl(5.15, 78.39%, 54.62%) 57.7%,
          hsl(11.6, 79.53%, 52.11%) 63.2%,
          hsl(16.74, 80.96%, 49.84%) 69%,
          hsl(20.69, 88.25%, 47.91%) 75.5%,
          hsl(23.51, 94.33%, 46.41%) 82.7%,
          hsl(25.23, 98.48%, 45.44%) 90.8%,
          hsl(25.83, 100%, 45.1%) 100%
        );
}